.container1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #8f4be9;
    box-shadow: 0 0 0 10px #6605e4, 0 0 50px #6605e4, 0 0 100px #6605e4;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0.5);
    }

    100% {
        transform: translateY(-100vh) scale(1.5);
    }
}
a{
    text-decoration: none;
}

.add-to-playlist {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around text */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline element */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .add-to-playlist {
    background-color: #3e8e41; /* Darker green on hover */
  }